streamlit
pandas
numpy
xlwt
pyodbc
datetime
openpyxl
s3fs
boto3
streamlit_modal
streamlit_authenticator
streamlit_tree_select
streamlit-aggrid==0.3.4
msal
requests
git+https://github.com/streamlit/files-connection 
