pandas
numpy
xlwt
pyodbc
datetime
openpyxl
streamlit
s3fs
boto3
streamlit_modal
streamlit_authenticator
streamlit_tree_select
streamlit-aggrid==0.3.4
#sendgrid

msal==1.14.0  # Replace with the version you want
requests==2.26.0 
git+https://github.com/streamlit/files-connection 
